<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
<body>
    <div class="container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="/movies">CinemaProject</a>
              </div>
              <ul class="nav navbar-nav">
                <li ><a href="/movies">Movies</a></li>
                <li><a href="/sessions">Showtimes</a></li>
                <li><a href="/mybooking"> My booking</a></li>
              </ul>
            </div>
        </nav>
        <div class="page-header">
            <h1> <%= movie.m_name %></h1>
        </div>    
        <div class="row">
            <div class="col-sm-4">
                <img src='<%= movie.m_poster %> ' height='450' width='300'>
            </div>
            <div class="col-sm-7">
<p>Length: <strong><%=movie.m_timing%></strong> </p>
<p><strong><%=movie.m_type%></strong></p>
<h3>Synopsis</h3>
<p><%=movie.m_description%></p>
<a href='/sessions/<%= movie.m_name%>' class="btn btn-primary">Available showtimes</a>
</div>
</div>
</body>
</html>

